.productListContainer {
    border-radius: 20px;

    .productList {

        scrollbar-color: #1f1f1f transparent;
        scrollbar-width: thin;

        /* width */
        &::-webkit-scrollbar {
            cursor: pointer;
            height: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #1f1f1f;
            border-radius: 2rem;
        }
    }
}