$A-Noor: 'A-Noor';
$FP_Arsoo: 'FP_Arsoo';

@font-face {
    font-family: "A-Noor";
    src: url('./../../fonts/A-Noor.ttf');
}

@font-face {
    font-family: "FP_Arsoo";
    src: url('./../../fonts/FP_Arsoo.ttf');
}

.productListContainer {
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(#2e2e2e, 1), rgba(#363636, 1) 40%, transparent);

    .productListTitle {
        font-family: $FP_Arsoo;
        word-spacing: 5px;
    }

    .productList {

        scrollbar-color: #363636 transparent;
        scrollbar-width: thin;

        /* width */
        &::-webkit-scrollbar {
            cursor: pointer;
            height: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #363636;
            border-radius: 2rem;
        }
    }
}