.boxContainer{
    box-shadow: 0 5px 10px #020202;
    border-radius: 20px;
    background: rgba(#2e2e2e, 1);
    
    &:hover{
        .textMute{
            transform: rotate(0deg);
        }
    }
    .textMute{
        color: #222222;
    }
}