$A-Noor: 'A-Noor';
$FP_Arsoo: 'FP_Arsoo';

@font-face {
    font-family: "A-Noor";
    src: url('./../../fonts/A-Noor.ttf');
}

@font-face {
    font-family: "FP_Arsoo";
    src: url('./../../fonts/FP_Arsoo.ttf');
}

.test{
    font-family: $A-Noor;
    font-size: 5rem;
}