.productContainer {
    width: 11rem;
    padding: 1rem;
    color: #000;
    border-radius: 20px;


    @media screen and (max-width: 767px) {
        width: 8rem;
        padding: 1rem;
    }

    
    &:not(:last-child){
        margin-left: 3rem;
    }

    .productImage {
        margin-top: -3rem;
        width: 7rem;
        height: 7rem;
        filter: drop-shadow(0 5px 10px #797979);
        cursor: pointer;
        margin: -3rem auto .5rem;
        display: block;

        @media screen and (max-width: 767px) {
            width: 6rem;
            height: 5rem;
        }
    }

    .productTitle {
        letter-spacing: 2px;
    }
}