$A-Noor: 'A-Noor';
$FP_Arsoo: 'FP_Arsoo';

@font-face {
    font-family: "A-Noor";
    src: url('./../../fonts/A-Noor.ttf');
}

@font-face {
    font-family: "FP_Arsoo";
    src: url('./../../fonts/FP_Arsoo.ttf');
}

.alert{
    position: fixed;
    top: 0;
    right: .2rem;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    font-family: $FP_Arsoo;
    word-spacing: 3px;
    animation: fadeAnimation 5s linear;
}


@keyframes fadeAnimation {
    0%{
        opacity: .7;
    }
    100%{
        opacity: 0;
    }
}