.list{
    border: 2px #222222 solid;

    .item{
        border-bottom: 2px #222222 solid;

        &:last-child{
            border-bottom: none;
        }
    }
}

.boxShadowInner{
    box-shadow: inset 5px 5px 5px #242424,
                inset -5px -5px 5px #2b2b2b;
}