.productsNavigation {
    border-radius: 20px;
    background: linear-gradient(rgba(#363636, 1) 50%, rgba(#363636, .7), rgba(#363636, 0));

    .navConitaner {
        box-shadow: 0 5px 10px #020202;
        border-radius: 20px;
    }
}