$bgLight: #ebebeb;
$bgLightTop: #eeeeee;
$bgLightGradint: linear-gradient(to bottom, rgba($bgLightTop, 1), rgba($bgLight, 1) 40%, transparent);
$shadows: #cecece;
$skeletonLight: #7c7b7b;

.bgLight {
    background: $bgLight;
}

.bgLightTop {
    background: $bgLightTop;
}

.bgGradient {
    background: linear-gradient(to bottom, rgba($bgLightTop, 1), rgba($bgLight, 1) 40%, transparent);
}

.bgSkeleton {
    background: $skeletonLight;
}

.boxShadow {
    box-shadow: 5px 5px 10px $shadows,
        -5px -5px 15px #ffffff;
}

.textShadow {
    text-shadow: 5px 5px 10px $shadows,
        -5px -5px 15px #ffffff;
}

.boxShadowOuter {
    box-shadow: -5px -5px 10px $shadows,
        5px 5px 15px #ffffff;
}

.boxShadowInner {
    box-shadow: inset 5px 5px 5px $shadows,
        inset -5px -5px 5px #ffffff;
}

.imgShadow {
    filter: drop-shadow(0 0 15px #ffffff);
    z-index: -1;
    position: relative;
}

.borderBottom {
    border-bottom: 2px $skeletonLight solid;

    &:last-child {
        border-bottom: none;
    }
}

.borderRoundFull {
    border: 2px $skeletonLight solid;
}