$bgLight: #dbdbdb;
$bgLightTop: #eeeeee;
$bgLightGradint: linear-gradient(to bottom, rgba($bgLightTop, 1), rgba($bgLight, 1) 40%, transparent);
$shadows: #b3b2b2;
$skeletonLight: #7c7b7b;

.bgLight {
    background: $bgLight;
}

.bgLightTop {
    background: $bgLightTop;
}

.bgGradient {
    background: linear-gradient(to bottom, rgba($bgLightTop, 1), rgba($bgLight, 1) 40%, transparent);
}

.bgSkeleton {
    background: $skeletonLight;
}

.boxShadow {
    box-shadow: 5px 5px 15px $shadows,
                -5px -5px 15px #ffffff;
}

.textShadow{
    text-shadow: 5px 5px 15px $shadows,
                -5px -5px 15px #ffffff;
}

.boxShadowOuter{
    box-shadow: -5px -5px 15px $shadows,
                5px 5px 15px #ffffff;
}

.boxShadowInner {
    box-shadow: inset 5px 5px 5px $shadows,
        inset -5px -5px 5px #ffffff;
}

.borderBottom {
    border-bottom: 2px $skeletonLight solid;

    &:last-child {
        border-bottom: none;
    }
}

.borderRoundFull {
    border: 2px $skeletonLight solid;
}