$ANoor: 'A-Noor';
$FPArsoo: 'FP_Arsoo';
$Dirooz: 'Dirooz';

@font-face {
    font-family: "A-Noor";
    src: url('../fonts/A-Noor.ttf');
}

@font-face {
    font-family: "FP_Arsoo";
    src: url('../fonts/FP_Arsoo.ttf');
}

@font-face {
    font-family: "Dirooz";
    src: url('../fonts/Dirooz.ttf');
}


.FPArsoo {
    font-family: $FPArsoo;
}

.ANoor {
    font-family: $ANoor;
}

.Dirooz {
    font-family: $Dirooz;
}