.table{
    box-shadow: 0 5px 10px #020202;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(#2e2e2e, 1), rgba(#363636, 1));
}

$A-Noor: 'A-Noor';
$FP_Arsoo: 'FP_Arsoo';

@font-face {
    font-family: "A-Noor";
    src: url('../../../fonts/A-Noor.ttf');
}

@font-face {
    font-family: "FP_Arsoo";
    src: url('../../../fonts/FP_Arsoo.ttf');
}

.ANoor{
    font-family: $A-Noor;
}

.FPArsoo{
    font-family: $FP_Arsoo;
}